body{
	background-color: #E5E5E5 ;
}

.adres{
	text-align: center;
	font-size: 70px;
	color: #030303;
}

.embassy1{
	margin-top:5%;	
	width:50%;
	display:inline-block;
}

.viscentr1{
	margin-top:5%;
	width:49%;
	float:right;
	display:inline-block;
}

.visacentr{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.freeplaces{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.freeplaces>a>button{
	height: 200px;
	font-size: 40px;
}